<!DOCTYPE html> 

<html>
    <head>
        <script src="js/global.js"></script>
        <script src="js/index.js"></script>
        <link rel="stylesheet" href="css/global.css">
        <link rel="stylesheet" href="css/index.css">
        <link rel="icon" type="image/x-icon" href="/images/titleIcon.png">
        <title>Index</title>
    </head>
    <body>  
        <div class = "landingPageHeader">
            <h1>Live Crypto Tracker</h1>
            <p id="elementToFade" onclick="navigateSite(0, 'home')">Press the spacebar or click here to continue</p>
            <p class = "mobileUser">Mobile users, touch the screen with two fingers</p> 
        </div>
    </body>
</html>
